title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    width: 40%;
    font-size: 16px;
    background-color: #09275a;
    color: rgb(199, 199, 255);
    padding: 1rem;
    /*text-align: center;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

rightBlock {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: flex;
    height: 100vh;
    top: 0;
    right: 0;
    width:60%;
    font-size: 16px;
    background-color: #b0bbc8;
    color: rgb(255, 0, 0);
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

circle{
    width: 100vw;                /* Set the width of the circle */
    height: 100vh;               /* Set the height of the circle */
    background-color: blue;      /* Set the background color of the circle */
    /*border-radius: 50%;          /* Make the element round */
    position: absolute;          /* Use absolute positioning */
    top: 50%;                    /* Center vertically */
    right: 0;                    /* Position it at the right edge */
    transform: translateY(-50%);
}
